html {
  width: 100%;
  }

body {
  background: #fafafa;
  font-family: "archerbold", "langdon", Helvetica, Arial, sans-serif;
  color: #333;
}
@font-face {
  font-family: "archerbold";
  src: url(archerbold.otf);
}
@font-face {
  font-family: "langdon";
  src: url(langdon.otf);
}
span.glyphicon.glyphicon-arrow-down {
  color: black;
}
span.glyphicon.glyphicon-arrow-down:hover {
  padding: 10px;
  color: black;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
SCROLLING NAVIGATION STLYES
*/

.nav.navbar-nav {
  padding-top: 30px;
  font-size: 2.5em; 
}

.navbar-default {
  /*background-color: #763844;*/
  /*background-color: #FFEDC7;*/
  border: transparent;
  background-color: #FBBE86;
  color: #EED592;
  font-family: 'archerbold', sans-serif;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 15px 0px 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #59132B;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #59132B;
}
.navbar-toggle {
    border-color: #ddd;
    /*margin: 6px 11px 16px 0px;*/
}

.navbar-default .navbar-toggle:hover {
    background-color: #F9E6D8;
}
.navbar-default .navbar-toggle {
    border-color: #989E60;
    margin: 3%;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #59132B;
}

/*
SLIDE STYLES
*/

.img-responsive .slide {
  height: ;
}
.slidesjs-pagination {
    display: none;
}

.slidesjs-navigation {
  display: none;
}

.slidesjs-container {
  
   
}
.slick-slide {
}

.slick-slide img {
  margin-top: 73px;
  width: inherit;
    
}
button.btn {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
}

.icon {
  background-color: transparent;
  border: none;
  font-size: 1.2em;
}

/*
SECTION STYLES
*/
th {
  text-align: left;
  border: solid;
}
tr {
  border: solid;
  padding: 10px;
}
td, th {
  padding: 15px;
  border: solid;
}
table {
  border: solid;
}
h1.intro-header.maroon {
  color: #59132B;
  font-size: 9em;
}
h1.section-header.gold {
  color: #D5AD46;
}
.intro-header {
  font-size: 6.5em;
  font-family: 'archerBold', cursive;
}
.intro-paragraph {
  font-size: 2em;
  font-family: "langdon";
  
}
.intro-section {
  text-align: center;
  background: #F9E6D8;
  font-family: "archerbold";
}
.services-section { 
  text-align: center;
  background: #fff;
}
.section-header {
  float: left;
  font-size: 6.5em;
  font-family: "archerbold";
  padding-bottom: 0.2em
}
.section {
  background-color: #FFEDC7;
  padding-top: 105px;
  min-width: 680px;
}
.contact-section {
  background: #FFEDC7;
  text-align: left;
  list-style-type: none;
  padding-bottom: 50px;
}
ul.contact-list {
  list-style: none;
  font-size: 2em;
  padding: 1%;
}
.about-section {
  background-color: #FFEDC7;
}
.container.section {
  padding-left: 20px;
  padding-right: 20px;
}
.section-paragraph {
  font-family: "Langdon";
  src: url(langdon.otf);
  text-align: left;
  font-size: 2em;
  padding-bottom: 50px;
}
/*
IMAGE STYLES
*/
.about-image {
  padding: 10px;
  max-height: 500px;
}
.doughnut-image {
  margin-left: 70px;
  padding: 15px;
  max-width: 30em;
}
/*
MAP STYLES
*/
.map {  
  padding: 10px;
}
/*
FOOTER STYLES
*/
footer {
  padding: 35px;
  background-color: #FFEDC7;
  background-color: #F9E6D8;
  font-size: 1.2em; 
  font-family: 'archerbold', sans-serif;
}


@media (min-width: 1200px) {

  #navbar-logo {
   max-width: 10em;
   margin-left: 25px;
   font-size: 1.3em;
  }

  span.glyphicon.glyphicon-arrow-down {
    padding-top: 20px;
  }
  .glyphicon-arrow-down:before {
    content: "\e094";
    font-size: 3em;
  }
}

@media (min-width: 992px) {
  .intro-header {
    font-size: 6.5em;
  }

}

@media (min-width: 767px) {

  #navbar-logo {
   max-width: 9.5em;
  }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  html {
    min-width: 660px;
  }

  .navbar {
    border: none;
  }
  .secton-paragraph {
    padding-top: 40px;
  }
    .navbar-brand>img {
    display: block;
    
    margin-left: 25px;
  }

  #navbar-logo {
    max-width: 8em;
  }

  .section {
    min-width: 660px;
    background-color: #F9E6D8;
  }
  .slides.slick-initialized.slick-slider {
    min-width: 630px;
}
}


